@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    header::before{
        content: '';
        background-image: url('../images/8a36a3db7f0fdeb25f04a053079380b3.png');
        background-size: cover;
        position: absolute;
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        top: 0;
        left: 0;
        opacity: .156;
    }

.button-20 {
    appearance: button;
    background-color: #473BF0;
    width: 30%;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    }

header h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #161C2D;
}


header h2{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #161C2D;
}

header p{
    color: #F64B4B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

header img{
    border-radius: 50%;
    height: 263px;
}

.card{
    border-radius: 3%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 483px;
    width: 350px;
    position: relative;
    cursor: pointer;
}

 #prim{
    background-color: #68D585;
    height: 483px;
    width: 350px;
}

#sec{
    background-color: #473BF0;
    height: 483px;
    width: 350px;
}

#terc{
    background-color: #F64B4B;
    height: 483px;
    width: 350px;
}

.card .image { 
    height: 30%;
    width: 30%;
}

.image img { 
    height: 100%;
    width: 100%;
}

.card .texto {
    position: absolute;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card .texto h3{
    stroke: 12px;
}

#header-text{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#secao-services #corpo-services{
    color: #F64B4B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#topo-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-justify: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700px; 
    font-size: 20px;
} 

#secao-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#secao-services ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}