header{
    height: 100vh;
}

    header::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/8a36a3db7f0fdeb25f04a053079380b3.png');
        background-size: cover;
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }

.button-20 {
    appearance: button;
    background-color: var(--cor-primaria);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid var(--cor-primaria-950);
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    }